defaults: &env-defaults
  working_directory: ~/code
  docker:
    - image: circleci/android:api-26-alpha
  environment:
        JVM_OPTS: -Xmx3200m
        ANDROID_SDK_ROOT: /opt/android/sdk

version: 2
jobs:
  build:
    <<: *env-defaults
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Unit Tests
          command: ./gradlew test
      - run:
          name: Run UI Tests
          command: ./gradlew connectedAndroidTest
      - run:
          name: Build signed APK
          command: ./gradlew assembleRelease
      - store_artifacts:
          path: app/build/reports
          destination: reports
      - store_artifacts:
          path: app/build/outputs/apk/release
          destination: apk
      - store_test_results:
          path: app/build/test-results/

  deploy:
    <<: *env-defaults
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Write Google Play JSON to disk
          command: echo $SERVICE_ACCOUNT_JSON > ~/code/app/play.json
      - run:
          name: Deploy to beta
          command: ./gradlew publishApkRelease

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master